body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #E0C097;
}
.App {
  display: flex;
  justify-content: space-around;
}
.image-style{
  width: 250px;
}
.categoryButtonSelected{
  background-color: #B85C38;
}
.categoryButton:hover{
  background-color: #b57258;
}
.style-button{
  font-family: 'Roboto Slab', serif;
  margin: 10px;
  font-size: 15px;
  border: none;
  background-color: #E0C097;
  padding: 5px;
}
.block-product{
  margin: 20px;
  padding: 25px;
  background-color: #B85C38;
  text-align: center;
}
.block-categories{
  text-align: center;
}

@media all and (max-width: 800px) {
  .App{
    margin: 5px;
  }
  .block-categories{
    width: 30%;
    font-size: 12px;
  }
  .block-product{
    width: 65%;
    font-size: 10px;
  }
  .image-style{
    width: 200px;
  }
}
@media all and (max-width: 500px) {
  .App{
    margin: 5px;
  }
  .block-categories{
    margin-left: 15px;
  }
}
